/* src/components/gallery/css/gallerySidebar.css */

.gallery-sidebar {
  width: 220px;
}

.gallery-sidebar button {
  width: 100%;

  border: none;
  background: transparent;

  text-align: left;

  padding: 10px 14px;

  cursor: pointer;

  font-family: var(--font-body);
  font-size: .95rem;
}

.gallery-sidebar button.active {
  background: #dfe4f6;
  color: #3147a7;
  font-weight: 700;
}