/* src/components/layout/navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;

  position: sticky;
  top: 0;
  z-index: 100;
}

/* LEFT */
.navbar-logo {
  flex: 1;
}

.navbar-logo img {
  height: 48px;
  object-fit: contain;
}

/* CENTER */
.nav-links {
  flex: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* MAIN NAV LINKS */
.nav-link {
  position: relative;
  text-decoration: none;
  color: #2B3B98;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Hover color */
.nav-link:hover {
  color: #1d2a70;
}

/* Underline animation */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;

  width: 0%;
  height: 2px;

  background: #2B3B98;
  transition: width 0.3s ease;
}

/* Hover underline */
.nav-link:hover::after {
  width: 100%;
}

/* ACTIVE PAGE */
.active-link {
  color: #1d2a70;
}

/* KEEP UNDERLINE ON ACTIVE PAGE */
.active-link::after {
  width: 100%;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-trigger {
  position: relative;
  color: #2B3B98;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dropdown-trigger:hover {
  color: #1d2a70;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;

  background: white;
  min-width: 220px;

  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.1);

  padding: 0.5rem 0;

  display: flex;
  flex-direction: column;

  z-index: 999;
}

.dropdown-menu a {
  padding: 0.7rem 1rem;
  font-size: 0.88rem;
  text-decoration: none;
  color: #2B3B98;
}

.dropdown-menu a:hover {
  background: #f3f6ff;
}

/* RIGHT */
.navbar-contact {
  flex: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  font-size: 0.75rem;
}

.navbar-contact a {
  text-decoration: none;
  color: #666;
  white-space: nowrap;
}

.navbar-contact a:hover {
  color: #2B3B98;
}